doctype html

block vars

html(lang=ms_lang)

	head
		//- ВЕРНУТЬ ID СЧЕТЧИКА на 12 и 17 строки!!!!!!!!!!!!!!!!
		//- 1. 0JL0VMP9FK
		//- 2. ТЕСТОВЫЙ G-5ZHLBZHTGL
		// Global site tag (gtag.js) - Google Analytics 
		script(async src="https://www.googletagmanager.com/gtag/js?id=")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-');

		meta(charset="utf-8")
		title=ms_title
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// .......... Favicons .......... 
		link(rel="apple-touch-icon" sizes="180x180" href=path+"img/favicons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href=path+"img/favicons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href=path+"img/favicons/favicon-16x16.png")
		link(rel="manifest" href=path+"img/favicons/site.webmanifest")
		link(rel="mask-icon" href=path+"img/favicons/safari-pinned-tab.svg" color="#5bbad5")
		link(rel="shortcut icon" href=path+"img/favicons/favicon.ico")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-config" content=path+"img/favicons/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		// .......... End Favicons .......... 

		meta(property="og:image" content="https://conf.mediascope.net/img/mediascope.png")

		// .......... Styles .......... 
		style.
			.preloader {
				position: fixed;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
				z-index: 9999;
				background: white url(#{path}img/loader.svg) center no-repeat;
				background-size: 80px auto;
			}
		link(rel="stylesheet" href=path+"css/libs.min.css")
		link(rel="stylesheet" href=path+"css/styles.css")
		// .......... End Styles .......... 
	body
		div#site_preloader.preloader

		header.panel.screen
			.screen__inner.panel__inner
				.logo__box
					.logo
						img(src=path+"img/logo.svg" alt="Mediascope Clients Conference 2020")
					h1.heading
						| Mediascope Clients
						br
						| Conference 
						span.ff--mono.color--yellow 2020
				.lang__switcher
					a(href=ms_nav_item4_url) #{ms_nav_item4}
				button.menu__toggle.js-menu-toggle
					span
					span
					span

		nav.menu
			ul.menu__list
				li.menu__item
					if (ms_lang === "ru")
						a(href="//mediascope.net" target="_black")=ms_nav_item1
					else
						a(href="//mediascope.net/en/" target="_black")=ms_nav_item1
				//- li.menu__item
				//- 	a(href="#speakers")=ms_nav_item2
				//- li.menu__item
				//- 	a(href="#program")=ms_nav_item3
				li.menu__item
					a(href="//conf.mediascope.net/archive/")=ms_nav_item5
				li.menu__item
					a(href=ms_nav_item4_url) #{ms_nav_item4}
				//- li.menu__item
					a(href=ms_btn_join_url target="_blank")=ms_btn_join

		.screen.intro
			.screen__inner
				.intro__grid
					div
						h2.title
							span.color--teal Data. 
							span.color--yellow We take it 
							| personally
						p.hashtag #Mediascopeсonf
					div
						.datebox
							.datebox__inner 01/12
							svg( version="1.1" viewBox="0 0 238 269" preserveAspectRatio="xMinYMin meet" fill="none")
								path(d="M236.953 268.422L.502 234.227V34.605L236.953.577v267.845z" stroke="#fff")
				
				//- .btn__box
					a.btn.btn--fill(href=ms_btn_join_url target="_blank")=ms_btn_join
					br
					a.btn(href="#about-broadcast")=ms_btn_manual

		// broadcast_video_url !!!!!!!!!!
		.screen.broadcast#broadcast
			.screen__inner
				h2.title.title--lg=broadcast_title
				.broadcast__box
					.broadcast__player
						.broadcast__video
							// img.broadcast__poster(src=path+"img/posters/broadcast.jpg" alt="")
							// poster=path+"img/posters/broadcast.jpg"
							video.video-js.vjs-default-skin.vjs-big-play-centered.vjs-show-big-play-button-on-pause(id="broadcast-video" preload="none" playsinline controls data-setup='{"fluid": true, "nativeControlsForTouch": true}')
								source(src=broadcast_video_url type="video/youtube")
					// .broadcast__panel
						a.btn.btn--gray(href="#speakers")=ms_nav_item2
						a.btn.btn--gray(href="#program")=ms_nav_item3
						a.btn.btn--fill.btn--tg(href="//t.me/mediascope_bot" target="_blank")=broadcast_tg
						a.btn.btn--fill(href=broadcast_review_url target="_blank")=broadcast_review
		
		//- .screen.about
			.screen__inner
				// h2.title.title--lg=ms_about_title
				// p !{ms_about_text}
				#about-broadcast
					.broadcast__about
						h3.title=ms_btn_manual
						p.broadcast__info !{broadcast_info}
						.btn__box
							if (ms_lang === "ru")
								a.btn.btn--gray(href="#broadcast")=broadcast_site
								br
								a.btn.btn--gray(href="//www.facebook.com/events/811737422923199/" target="_blank") Facebook
							else
								a.btn.btn--gray(href="/en/")=broadcast_site
							br
							a.btn.btn--gray(href=broadcast_youtube_url target="_black") Youtube

		//- .screen.program#program
			.screen__inner
				h2.title.title--lg=ms_nav_item3
				.program__table
					.program__row
						.program__time
							| 11:00 - 11:10&nbsp;
							if (ms_lang === "en")
								sup *
						.program__speech
							p !{r_tagiev_speech}
							p.program__small
								| !{r_tagiev},
								span.program__vocation !{r_tagiev_vocation}
					.program__row
						.program__time
							| 11:10 - 11:40&nbsp;
							if (ms_lang === "en")
								sup *
						.program__speech
							p !{k_achkasova_speech}
							p.program__small !{k_achkasova_details}
							p.program__small
								| !{k_achkasova},
								span.program__vocation !{k_achkasova_vocation}
					.program__row
						.program__time
							| 11:40 - 12:00&nbsp;
							if (ms_lang === "en")
								sup *
						.program__speech
							p !{m_zotov_speech}
							p.program__small !{m_zotov_details}
							p.program__small
								| !{m_zotov},
								span.program__vocation !{m_zotov_vocation}
					.program__row
						.program__time
							| 12:00 - 12:40&nbsp;
							if (ms_lang === "en")
								sup *
						.program__speech
							p !{m_pikuleva_speech}
							p.program__small !{m_pikuleva_details}
							p.program__small
								| !{m_pikuleva},
								span.program__vocation !{m_pikuleva_vocation}
							p.program__small
								| !{o_starostina},
								span.program__vocation !{o_starostina_vocation}
					.program__row
						.program__time
							| 12:40 - 13:00&nbsp;
							if (ms_lang === "en")
								sup *
						.program__speech
							p !{l_gleizer_speech}
							p.program__small !{l_gleizer_details}
							p.program__small
								| !{l_gleizer},
								span.program__vocation !{l_gleizer_vocation}

					if (ms_lang === "en")
						.program__notice * Time zone: Moscow local time


		//- .screen.speakers#speakers
			.screen__inner
				h2.title.title--lg=ms_nav_item2
				.speakers__table
					.speakers__row
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/r_tagiev.png" alt="")
							.speakers__data
								.speakers__name !{r_tagiev}
								.speakers__vocation !{r_tagiev_vocation}
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/k_achkasova.png" alt="")
							.speakers__data
								.speakers__name !{k_achkasova}
								.speakers__vocation !{k_achkasova_vocation}
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/l_gleizer.png" alt="")
							.speakers__data
								.speakers__name !{l_gleizer}
								.speakers__vocation !{l_gleizer_vocation}
					.speakers__row
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/m_pikuleva.png" alt="")
							.speakers__data
								.speakers__name !{m_pikuleva}
								.speakers__vocation !{m_pikuleva_vocation}
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/o_starostina.png" alt="")
							.speakers__data
								.speakers__name !{o_starostina}
								.speakers__vocation !{o_starostina_vocation}
						.speakers__card
							.speakers__photo
								img(src=path+"img/speakers/m_zotov.png" alt="")
							.speakers__data
								.speakers__name !{m_zotov}
								.speakers__vocation !{m_zotov_vocation}
		.screen.materials
			.screen__inner
				h2.title.title--lg
					if (ms_lang === "ru")
						| Материалы
						br
						| конференции
					else
						| Conference
						br
						| materials
				.materials__table
					.materials__card
						div
							h3.materials__title !{r_tagiev_speech}
							.materials__speaker !{r_tagiev}
							.materials__vocation !{r_tagiev_vocation}
							.materials__download
								a.materials__icon(href="/files/1_Ruslan_Tagiev_Welcome2020.pdf" target="_blank")
									img(src=path+"img/download.svg" alt="")
								a(href="/files/1_Ruslan_Tagiev_Welcome2020.pdf" target="_blank")=download_pdf
					.materials__card
						div
							h3.materials__title !{k_achkasova_speech}
							.materials__speaker !{k_achkasova}
							.materials__vocation !{k_achkasova_vocation}
							.materials__download
								a.materials__icon(href="/files/2_Ksenia_Achkasova_Results_2020_Plans_2021.pdf" target="_blank")
									img(src=path+"img/download.svg" alt="")
								a(href="/files/2_Ksenia_Achkasova_Results_2020_Plans_2021.pdf" target="_blank")=download_pdf
					.materials__card
						div
							h3.materials__title !{m_zotov_speech}
							.materials__speaker !{m_zotov}
							.materials__vocation !{m_zotov_vocation}
							.materials__download
								a.materials__icon(href="/files/3_Mikhail_Zotov_The_Ultimate_Question_42.pdf" target="_blank")
									img(src=path+"img/download.svg" alt="")
								a(href="/files/3_Mikhail_Zotov_The_Ultimate_Question_42.pdf" target="_blank")=download_pdf
								
					.materials__card
						div
							h3.materials__title !{m_pikuleva_speech}
							.materials__speaker !{m_pikuleva}
							.materials__vocation !{m_pikuleva_vocation}
							br
							.materials__speaker !{o_starostina}
							.materials__vocation !{o_starostina_vocation}
							br
							.materials__download
								a.materials__icon(href="/files/4_Marina_Pikuleva_Olesya_Starostina_BrandPulse_one_year_later.pdf" target="_blank")
									img(src=path+"img/download.svg" alt="")
								a(href="/files/4_Marina_Pikuleva_Olesya_Starostina_BrandPulse_one_year_later.pdf" target="_blank")=download_pdf
					.materials__card
						div
							h3.materials__title !{l_gleizer_speech}
							.materials__speaker !{l_gleizer}
							.materials__vocation !{l_gleizer_vocation}
							.materials__download
								a.materials__icon(href="/files/5_Lev_Gleizer_Alpaca_and_Capybaras.pdf" target="_blank")
									img(src=path+"img/download.svg" alt="")
								a(href="/files/5_Lev_Gleizer_Alpaca_and_Capybaras.pdf" target="_blank")=download_pdf

		//- .screen.publications
			.screen__inner
				h2.title.title--lg 
					if (ms_lang === "ru")
						| Публикация
					else
						| Publication
				.publications__table.materials__table
					.materials__card.publications__card
						div
							.materials__image
								img(src=path+"img/posters/broadcast.jpg" alt="")
						div
							h3.materials__title
								if (ms_lang === "ru")
									| Продвижение проекта притягивает повседневный мониторинг активности
								else
									| Pellentesque sodales, metus in semper mattis
							.materials__vocation
								a.color--teal.js-publication(href="#")
									if (ms_lang === "ru")
										| Подробнее
									else
										| Read more
					.publications__text
						if (ms_lang === "ru")
							p.
								Подмножество естественно обуславливает типичный интеграл Дирихле. Уравнение в частных производных, не вдаваясь в подробности, продуцирует интеграл Дирихле. Медийная связь концентрирует рыночный жизненный цикл продукции, осознавая социальную ответственность бизнеса. Умножение двух векторов (векторное), очевидно, реально упорядочивает сходящийся ряд, расширяя долю рынка. Медиапланирование, вопреки мнению П.Друкера, существенно экономит коллективный криволинейный интеграл. Привлечение аудитории нетривиально.
							p.
								Рейт-карта инновационна. Целевой сегмент рынка, в первом приближении, неоднозначен. Итак, ясно, что оценка эффективности кампании позиционирует изоморфный диктат потребителя, что неудивительно. Презентация реально синхронизирует сходящийся ряд.
							p.
								Продвижение проекта притягивает повседневный мониторинг активности, оптимизируя бюджеты. Постоянная величина, конечно, притягивает анормальный вектор. Производство экономит убывающий пресс-клиппинг, отвоевывая рыночный сегмент. Рекламный клаттер изменяет криволинейный интеграл. 
						else
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lorem in urna lobortis malesuada et quis velit. Sed feugiat lorem magna, quis pulvinar diam luctus ut. Nunc ornare neque ipsum, ut faucibus tellus sollicitudin a. Vivamus semper sollicitudin nunc sed suscipit. 
							p.
								Proin et ex eu nulla tempus tincidunt vel eget libero. Morbi semper, tortor ut egestas gravida, mauris quam viverra risus, ut efficitur ante felis at est. Sed vel libero ex. Suspendisse hendrerit sagittis dolor, eu placerat ipsum lacinia at. Suspendisse sollicitudin eros eu mi egestas, eu tempor elit porttitor. 
							p.
								Pellentesque sodales, metus in semper mattis, ex nibh egestas felis, quis lobortis sem odio in erat. Aenean consectetur euismod risus, sit amet gravida massa mollis non. Morbi commodo congue arcu a rhoncus. Vivamus posuere tristique lorem elementum egestas.
						p
							a.color--teal.js-publication(href="#")
								if (ms_lang === "ru")
									| Скрыть
								else
									| Hide
				.publications__table.materials__table
					.materials__card.publications__card
						div
							.materials__image
								img(src=path+"img/posters/broadcast.jpg" alt="")
						div
							h3.materials__title
								if (ms_lang === "ru")
									| Стремящийся выставочный стенд: методология и особенности
								else
									| Lorem ipsum dolor
							.materials__vocation
								a.color--teal.js-publication(href="#")
									if (ms_lang === "ru")
										| Подробнее
									else
										| Read more
					.publications__text
						if (ms_lang === "ru")
							p.
								Подмножество естественно обуславливает типичный интеграл Дирихле. Уравнение в частных производных, не вдаваясь в подробности, продуцирует интеграл Дирихле. Медийная связь концентрирует рыночный жизненный цикл продукции, осознавая социальную ответственность бизнеса. Умножение двух векторов (векторное), очевидно, реально упорядочивает сходящийся ряд, расширяя долю рынка. Медиапланирование, вопреки мнению П.Друкера, существенно экономит коллективный криволинейный интеграл. Привлечение аудитории нетривиально.
							p.
								Рейт-карта инновационна. Целевой сегмент рынка, в первом приближении, неоднозначен. Итак, ясно, что оценка эффективности кампании позиционирует изоморфный диктат потребителя, что неудивительно. Презентация реально синхронизирует сходящийся ряд.
							p.
								Продвижение проекта притягивает повседневный мониторинг активности, оптимизируя бюджеты. Постоянная величина, конечно, притягивает анормальный вектор. Производство экономит убывающий пресс-клиппинг, отвоевывая рыночный сегмент. Рекламный клаттер изменяет криволинейный интеграл. 
						else
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lorem in urna lobortis malesuada et quis velit. Sed feugiat lorem magna, quis pulvinar diam luctus ut. Nunc ornare neque ipsum, ut faucibus tellus sollicitudin a. Vivamus semper sollicitudin nunc sed suscipit. 
							p.
								Proin et ex eu nulla tempus tincidunt vel eget libero. Morbi semper, tortor ut egestas gravida, mauris quam viverra risus, ut efficitur ante felis at est. Sed vel libero ex. Suspendisse hendrerit sagittis dolor, eu placerat ipsum lacinia at. Suspendisse sollicitudin eros eu mi egestas, eu tempor elit porttitor. 
							p.
								Pellentesque sodales, metus in semper mattis, ex nibh egestas felis, quis lobortis sem odio in erat. Aenean consectetur euismod risus, sit amet gravida massa mollis non. Morbi commodo congue arcu a rhoncus. Vivamus posuere tristique lorem elementum egestas.
						p
							a.color--teal.js-publication(href="#")
								if (ms_lang === "ru")
									| Скрыть
								else
									| Hide

		.screen.footer
			.screen__inner
				.footer__row
					div
						img.footer__logo(src=path+"img/logo.svg" alt="")
					div
						ul.menu__list
							li.menu__item
								if (ms_lang === "ru")
									a(href="//mediascope.net" target="_black")=ms_nav_item1
								else
									a(href="//mediascope.net/en/" target="_black")=ms_nav_item1
							// li.menu__item
							// 	a(href="#speakers")=ms_nav_item2
							// li.menu__item
							// 	a(href="#program")=ms_nav_item3
							li.menu__item
								a(href="//conf.mediascope.net/archive/" target="_blank")=ms_nav_item5
							li.menu__item
								a(href=ms_nav_item4_url)=ms_nav_item4
						.footer__contacts
							p.color--teal !{footer_contacts}
							p
								a(href="tel:+74959358718") 
									nobr +7 (495) 935 87 18
								br
								a(href="mailto:CONF2020@MEDIASCOPE.NET") CONF2020@MEDIASCOPE.NET
								br
								a.footer__facebook(href="//www.facebook.com/MediascopeRu" target="_blank") 
									img(src=path+"img/fb.svg" alt="")
									span=footer_facebook
						p.footer__url conf.mediascope.net

		// .......... Scripts .......... 

		
		script(src=path+"js/libs.min.js")
		script.
			//.......................
			//...... Preloader ......
			//.......................
			function hidePreloader(){
				$(function() {
					$('.preloader').fadeOut(500).delay(500, function(){
						$(this).css('display', 'none').dequeue();
					});
				});
			}
			window.onload = hidePreloader();
		script(src=path+"js/scripts.js")
		// .......... End Scripts .......... 